Glue records returned as authoritative records by the server 

Hi,

I was checking out Maradns as an authoritative DNS server and gave it a small test zone as input.

**Input csv2 style zone file:**
|  	|  	|  	|  	|
|-	|-	|-	|-	|
| example.com. 	| +60480 	| SOA 	| ns1.outside.com. root.example.com. 3 604800 86400 2419200 604800 ~ 	|
| example.com. 	| +60480 	| NS 	| ns1.outside.com. ~ 	|
| b.g.example.com. 	| +60480 	| NS 	| n.b.g.example.com. ~ 	|
| n.b.g.example.com. 	| +60480 	| A 	| 1.1.1.1 ~ 	|

For the query _<n.b.g.example.com. , A>_, the MaraDNS server returns the following response:

```
          "rcode NOERROR",
          "flags QR AA",
          ";QUESTION",
          "n.b.g.example.com. IN A",
          ";ANSWER",
          "n.b.g.example.com. 60480 IN A 1.1.1.1",
          ";AUTHORITY",
          ";ADDITIONAL"
```

The **AA** bit is set in the response which should not be as this is a glue record and the zone file is not authoritative of it. The server should return an empty answer but place `<b.g.example.com, NS>` in the authority section and the glue record in the additional section as per [RFC 6672, Section 3.2, Point 3B](https://tools.ietf.org/html/rfc6672#page-9).

Thank you for the detailed and informative report.

Any RFC after 2010 (RFC6672 is a 2012 RFC) is a wishlist item. 

I’m closing this bug, not because I will never fix this, but because this is a wishlist item, not a bug report.

I have stopped trying to keep playing the “RFCs breaking previously RFC compliant code” game.


I will, of course, be open to pull requests which implement this in the way which pedantically follows the post-2010 RFCs.

Thanks, @samboy, for the replies. The non-authoritative part of glue records and the child NS records is mentioned in the RFC 1034 itself. [Example 6.2.6 in RFC 1034](https://tools.ietf.org/html/rfc1034#section-6.2.6) gives an example where the AA bit is not set when returning child _NS_ records. 

Yes, thinking about this more, I now realize this particular one has been a long standing issue with MaraDNS. As I recall, when implementing this, my attitude was “technically breaks the RFCs, but not a big deal”. Will chance to WONTFIX; if I’m going to deep dive in to all the ways MaraDNS and Deadwood break the RFCs, the first thing I will fix is Deadwood, which has issues with real world impact.

I went to a lot of effort to have Deadwood, the recursive resolver, use out-of-bailiwick glue without it being a security hazard. Unfortunately, this causes Deadwood to, with a small number of domains, not correctly resolve hostnames when used as a recursive server. So, before I can even think about dealing with the various ways MaraDNS technically violates the RFCs, I would fix Deadwood’s handling of corner cases first.

It’s a simple pragmatic manner: There isn’t money on the table. I’ve talked to the ISC about this one time when I was looking for work and saw they had an opening; they explained that the only place where there’s money on the table with DNS is when making an enterprise DNS server. MaraDNS is more like an embedded DNS server; the lovely lady at ISC I was talking to explained to me no one wants to pay for support or to spend funds helping open source development in the embedded space, because the game there is to make the product as cheap as possible.

The other place where there is money on the table is working for a domain registrar. That’s why Knot DNS is a really nice and robust DNS server (and I won’t feel any hurt feelings whatsoever if you look at Knot DNS and decide it meets you needs better). Check it out if you haven’t already: https://www.knot-dns.cz/

The place where there *is* money on the table is with Lua development. And that why you saw me go to a lot of effort to make a Lua-based DNS server while I was furloughed, because it allowed me to get hired on as a Lua developer for the company I’m working for right now.

Thanks, @samboy, for these insights. I was checking out the behavior of different implementations with small zone file inputs and came across MaraDNS as it was mentioned in some of the famous open-source implementations. I also checked out KnotDNS, and I  understand how things are out there. Thanks again for such detailed responses. 