More DNS nonsense

Let's look up hekebolos.com. After finding its nameservers, we get this:

```
$ dig @72.3.135.35 www.hekebolos.com

; <<>> DiG 9.9.6-P1 <<>> @72.3.135.35 www.hekebolos.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 47519
;; flags: qr aa rd; QUERY: 1, ANSWER: 2, AUTHORITY: 3, ADDITIONAL: 3
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;www.hekebolos.com.             IN      A

;; ANSWER SECTION:
www.hekebolos.com.      3600    IN      CNAME   ghs.google.com.
www.hekebolos.com.      3600    IN      A       64.22.138.9

;; AUTHORITY SECTION:
hekebolos.com.          3600    IN      NS      ns1.discountasp.net.
hekebolos.com.          3600    IN      NS      ns2.discountasp.net.
hekebolos.com.          3600    IN      NS      ns3.discountasp.net.

;; ADDITIONAL SECTION:
ns1.discountasp.net.    3600    IN      A       72.20.51.253
ns2.discountasp.net.    3600    IN      A       216.177.89.10
ns3.discountasp.net.    3600    IN      A       72.3.135.35

;; Query time: 56 msec
;; SERVER: 72.3.135.35#53(72.3.135.35)
;; WHEN: Tue Feb 10 19:40:47 PST 2015
;; MSG SIZE  rcvd: 193
```

Now, what we're supposed to do here is ignore the A record and only look at the CNAME record. Otherwise, we get a 404 message from the Microsoft IIS' server at 64.22.138.9. ghs.google.com points to another node, as follows:

```
$ dig @216.239.34.10 ghs.google.com.

; <<>> DiG 9.9.6-P1 <<>> @216.239.34.10 ghs.google.com.
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 55948
;; flags: qr aa rd; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;ghs.google.com.                        IN      A

;; ANSWER SECTION:
ghs.google.com.         604800  IN      CNAME   ghs.l.google.com.
ghs.l.google.com.       300     IN      A       74.125.28.121

;; Query time: 58 msec
;; SERVER: 216.239.34.10#53(216.239.34.10)
;; WHEN: Tue Feb 10 19:46:21 PST 2015
;; MSG SIZE  rcvd: 68

```

Now, we could argue this is a bug in Deadwood, but I am more inclined to say that this is a bug with the configuration of the discountasp.net name servers. They violate RFC1034 section 3.6.2, which states "If a CNAME RR is present at a node, no other data should be present; this ensures that the data for a canonical name and its aliases cannot be different."

So, that said, I will file this bug here but will immediately close it. At this point, Deadwood has had years dealing with these crazy corner cases, and I have hit a point where I just need to say "You're violating the RFCs and need to fix your nameservers".  Since, quite bluntly, Dante Atkins is paying discountasp.net to provide DNS hosting, even though they are providing RFC-violating DNS records, but no one is paying me to work around crappy DNS configurations like this one.



To clarify: Deadwood returns this:

```
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 25493
;; flags: qr rd ra; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;www.hekebolos.com.             IN      A

;; ANSWER SECTION:
www.hekebolos.com.      1917    IN      CNAME   ghs.google.com.
www.hekebolos.com.      1917    IN      A       64.22.138.9

;; Query time: 552 msec
```

Not a bug; you violate the RFCs, the results will be undefined. Closing.

Here is the email I sent to the owner of the hekebolos.com domain and the people responsible for its DNS configuration:

The DNS record for www.hekebolos.com violates RFC1024 section 3.6.2, which states "If a CNAME RR is present at a node, no other data should be present; this ensures that the data for a canonical name and its aliases cannot be different."

In more detail, which I ask the DNS servers at 216.177.89.10, 72.20.51.253, or 72.3.135.35 for the A record for www.hekebolos.com, I get this:

www.hekebolos.com.      3600    IN      CNAME   ghs.google.com.
www.hekebolos.com.      3600    IN      A       64.22.138.9

Now, the problem is this: www.hekebolos.com has both a CNAME and an A record, which the RFC does not allow. As a consequence, this name does not correctly resolve with some DNS server, such as my own Deadwood recursive DNS server.

While, yes, I *could* come up with some heuristics to properly handle this kind of RFC violating DNS packet, now that I am a single parent working a full time job, and since my DNS server is a free open-source project I am not getting paid to work on, I am not going to change things on my side.

Please fix this on your side.

- Sam

As a follow-up email:

I meant RFC1034 section 3.6.2


Also: RFC1912 section 2.4 "A CNAME record is not allowed to coexist with any other data".

Part of an email I sent to the guy with the DNS issue (this ISP allows their end users to make these kind of gross mistakes in their DNS configurations):

```
In DNS, a CNAME record is a record which points to another record. It
is roughly the equivalent of a of a shortcut in Windows, a symbolic
link in Mac OS, or a forwarding address with the postal service. For
example:

www.example.com CNAME www.example.net

In English, this means "www.example.com will have whatever IP
www.example.net has".

This allows someone to change www.example.net's IP address without
changing www.example.com's IP address; any change to the
www.example.net IP automatically changes www.example.com's IP.

However, what happens if we have these DNS records:

www.example.com CNAME www.example.net
www.example.com A 10.2.3.4
www.example.net A 192.168.1.1

Well, now, whether www.example.com has the IP address 10.2.3.4 or the
IP address 192.168.1.1 is ambiguous. The official DNS specs -- called
RFCs -- have no way to resolve this ambiguity; they merely tell people
"Don't do that!".

While I have, over the years, tunes my personal DNS server to handle a
whole bunch of these kinds of corner cases reasonably well, I no
longer have as much time to do that. Indeed, it took me over a month
to patch a non-critical but reasonably serious security issue
recently.
```

I have posted a blog about this: http://samiam.org/blog/2015-02-11.html

See also: https://github.com/samboy/MaraDNS/issues/56