no support for DNS entries containing underscores _

Hi,
it seems, that Daedwood does not support underscores "_" in DNS names.
For example:

```
_sipinternaltls._tcp.mydomain.com should be valid in:
```

```
root_servers["_sipinternaltls._tcp.mydomain.com."]="10.11.12.13"
```

Such entries are used by Micorosoft Lync/Skype for Business.

I found something about it on the net:
http://domainkeys.sourceforge.net/underscore.html

So it seems, it should usually work:

```
Host names are not allowed to have underscores in them. In DNS, host names are the name fields
of A or MX records or the data fields of the SOA and NS records. Thus, there are many DNS entries
that are not hostnames.

RFC 2872 is a perfect counter to the myth that "_" is non-standard. The RFC is a standards track
RFC, and describes SRV records. One of the authors is Paul Vixie, the original programmer of BIND.

The RFC contains this paragraph:

Proto
The symbolic name of the desired protocol, with an underscore (_) prepended to prevent collisions
with DNS labels that occur in nature. _TCP and _UDP are at present the most useful values for this
field, though any name defined by Assigned Numbers or locally may be used (as for Service). The
Proto is case insensitive.

and this example:

_foobar._tcp SRV 0 1 9 old-slow-box.example.com.
Thus, the "_" is purposedly used to disambiguate hosts from other attributes in the DNS. In fact
that's the very reason that the "_" prefix was chosen to differentiate selectors and to avoid collisions
with existing namespace.

Similarly, O'Reilly's DNS and Bind states in Chapter 4, section 5, 'Names that are not host names
can consist of any printable ASCII character.'
```

Anyway, thanks for that piece of software, works great!

Peter

Fixed. While RFC1034 section 3.5 doesn’t allow _ in hostnames, I have always supported having _ there. The dwood3rc parser, however, didn’t allow _ at the beginning of a domain name in its grammar; I have fixed this.

Hi, many thanks for that real quick response. Question, when will the windows binaries be updated (Download page) or do I have to compile myself?

I have instructions for compiling Deadwood in Windows in this file: https://github.com/samboy/MaraDNS/blob/master/deadwood-github/INSTALL.txt

Scroll down to “WINDOWS 7”. The compile environment only needs mingw and msys installed, and I have a link in INSTALL.txt to the exact version I use of those packages (so it’s only two packages to install instead of MinGW’s current way of installing an installer followed by installing all the individual packages). Note that Deadwood and MaraDNS are compiled separately in Windows.

Hi,


thanks, it worked, I could compile and first tests look good!

Regards


Peter

On 06.05.2016 14:03, Sam Trenholme wrote:
>
> I have instructions for compiling Deadwood in Windows in this file: 
> https://github.com/samboy/MaraDNS/blob/master/deadwood-github/INSTALL.txt
>
> Scroll down to “WINDOWS 7”. The compile environment only needs mingw 
> and msys installed, and I have a link in INSTALL.txt to the exact 
> version I use of those packages (so it’s only two packages to install 
> instead of MinGW’s current way of installing an installer followed by 
> installing all the individual packages). Note that Deadwood and 
> MaraDNS are compiled separately in Windows.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly or view it on GitHub 
> <https://github.com/samboy/MaraDNS/issues/25#issuecomment-217422836>
>



These days I only make one release of MaraDNS a year unless a security issue pops up. My plan right now is to release MaraDNS 2.0.14 in late November.

MaraDNS 2.0.14 finally got released in mid-2017
